@import '../Global.scss';

.header-content{
    @include size(100%, 50px);
    background-color: $color4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index:2;

    .option{
        @include font-Roboto(12px);
        color: $color7;
    }
}