@import '../Global.scss';

.home-content{
  @include size(100%, auto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container-home{
    @include size(100%, 650px);
    background-image: url('https://user-images.githubusercontent.com/60928490/90839068-2ce4c100-e31c-11ea-8fa9-53665339a537.JPG');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
  
    .texts {
      margin-top: 150px;
      .title{
        font-size: 85px;
        @include mobile-screen() {
          font-size: 60px;
        }
  
      }
      .subtitle{
        font-size: 42px;
        font-weight: 300;
        margin-bottom: 32px;
        @include mobile-screen() {
          font-size: 24px;
        }
      }
    }
  
    .sesgo-down{
      position: absolute;
      bottom: 0;
      left: 0;
      border-width: 0 0 35vh 100vw;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }
  }
  
  .background{
    @include size(335px, auto);
    display: flex;
    justify-content: center;
    position: absolute;
    top:320px;
    @include mobile-screen() {
      img{
        @include size(200px, auto);
      }
    }
  }
  
  .container-description{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutme {
      width: 50%;
      height: 70%;
      // backgrounrgb(39, 78, 80)lue;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mobile-screen() {
        width: 90%;
        height: 455px;
       }

  
      .content{
        width: 80%;
        height: auto;
        // background: chocolate;
        text-align: center;
       
        .hello{
          @include font-Roboto(35px);
        }
        .slogan{
          @include font-Roboto(24px);
        }
      }
    }
  
    .gallery {
      width: 100%;
      height: 30%;
      // background: $color1;
      background-image: url('https://user-images.githubusercontent.com/60928490/90859081-1c007380-e34d-11ea-8f43-beb767db13bd.JPG');
      background-size: cover;
      // display: flex;
      // align-items: center;
      @include mobile-screen() {
        margin-top: 45px;
       }
    }
  
  }
}
